<div class="mr-scope mr-scope--light">
  <div class="mr-icon-grid">
    <div class="mr-icon-item">
      <div class="mr-icon-box">
        <i class="ph-fill ph-globe" aria-hidden="true"></i>
      </div>
      <span>Web</span>
    </div>
    <div class="mr-icon-item">
      <div class="mr-icon-box">
        <i class="ph-fill ph-apple-logo" aria-hidden="true"></i>
      </div>
      <span>Apple</span>
    </div>
    <div class="mr-icon-item">
      <div class="mr-icon-box">
        <i class="ph-fill ph-android-logo" aria-hidden="true"></i>
      </div>
      <span>Android</span>
    </div>
    <div class="mr-icon-item">
      <div class="mr-icon-box">
        <i class="ph-fill ph-google-play-logo" aria-hidden="true"></i>
      </div>
      <span>Google Play</span>
    </div>
    <div class="mr-icon-item">
      <div class="mr-icon-box">
        <i class="ph-fill ph-calendar" aria-hidden="true"></i>
      </div>
      <span>Calendar</span>
    </div>
    <div class="mr-icon-item">
      <div class="mr-icon-box">
        <i class="ph-fill ph-users" aria-hidden="true"></i>
      </div>
      <span>Users</span>
    </div>
    <div class="mr-icon-item">
      <div class="mr-icon-box">
        <i class="ph-fill ph-map-pin" aria-hidden="true"></i>
      </div>
      <span>Location</span>
    </div>
    <div class="mr-icon-item">
      <div class="mr-icon-box">
        <i class="ph-fill ph-flask" aria-hidden="true"></i>
      </div>
      <span>Beta</span>
    </div>
  </div>
</div>
